/********************* top ************************/

.top {
    width: 100%;
    height: 32px;
    color: #777777;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center
}

.top-conter {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.top-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.top-left li {
    margin-right: 30px;
}

.top-left li a:hover {
    color: red;
}

.top-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.top-right-wrap {
    font-size: 12px;
    margin: 0 0 0 20px;
}

.top-right-link {
    color: #999;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.top-right-link span:nth-child(1) {
    width: 12px;
    height: 12px;
    margin-right: 3px;
    cursor: pointer;
}

.shuliang {
    color: red;
    font-size: 13px;
}

.shuxian {
    margin-left: 20px;
    height: 8px;
    border-left: 1px solid #e5e5e5;
}

.gouwuche-icon {
    background: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/topMenuCar_redicon.png) no-repeat;
    background-position: 0 0;
}

.dingdan-icon {
    background: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/topMenu_redicon.png) no-repeat;
    background-position: 0 0;
}

.shoucang-icon {
    background: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/topMenu_redicon.png) no-repeat;
    background-position: -110px 0;
}

.guanzhu-icon {
    background: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/topMenu_redicon.png) no-repeat;
    background-position: -40px 0;
}

.zhongxin-icon {
    background: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/topMenu_redicon.png) no-repeat;
    background-position: -60px 0;
}

.top-right-link:hover {
    color: red;
}

.top-right-link:hover .gouwuche-icon {
    background-position: 0 -20px;
}

.top-right-link:hover .dingdan-icon {
    background-position: 0 -20px;
}

.top-right-link:hover .shoucang-icon {
    background-position: -110px -20px;
}

.top-right-link:hover .guanzhu-icon {
    background-position: -40px -20px;
}

.top-right-link:hover .zhongxin-icon {
    background-position: -60px -20px;
}


/***********************搜索框************************/

.search {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/********************* main ************************/

.main {
    width: 100%;
    background: #fafafa;
    border-top: 1px solid#e7e7e7;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-center {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid #e7e7e7;
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {
    width: 100%;
    line-height: 35px;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 10px;
}

.main-title>span {
    font-size: 16px;
    font-weight: bold;
    color: #3c3c3c;
    padding-bottom: 8px;
    border-bottom: 2px solid #ee394b;
}

.main-head {
    width: 100%;
    line-height: 38px;
    border: 1px solid #e7e7e7;
    background: #f7f7f7;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #777;
    margin-bottom: 10px;
}

.main-checkbox {
    display: flex;
    align-items: center;
    color: #3c3c3c;
}

.main-checkbox>input {
    margin-left: 10px;
    margin-right: 10px;
}

.main-xinxi {
    margin-left: 180px;
}

.main-danjia {
    margin-left: 250px;
}

.main-shuliang {
    margin-left: 150px;
}

.main-shifu {
    margin-left: 175px;
}

.main-caozuo {
    margin-left: 135px;
}

.main-shop {
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #e7e7e7;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #777;
}

.main-dianming {
    margin-top: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.main-shop-checkbox {
    margin-left: 10px;
    margin-right: 10px;
}

.main-shop-icon {
    width: 16px;
    height: 13px;
    background: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/shoppingCartIcon.png) no-repeat;
    background-size: 100%;
    margin-right: 5px;
}

.main-shop-text {
    font-size: 14px;
}

.main-shop-text>a {
    font-weight: bold;
}

.main-shangpin {
    display: flex;
    justify-content: left;
    margin: 20px 0 10px 0;
}

.main-shangpin-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-shangpin-left>input {
    margin-left: 10px;
    margin-right: 10px;
}

.main-shangpin-right {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-shangpin-xinxi {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.main-shangpin-xinxi>a {
    color: #3c3c3c;
}

.main-shangpin-xinxi>a:hover {
    color: red;
}

.main-shangpin-xinxi>span {
    color: #999;
}

.main-shangpin-xinxi>ul {
    display: flex;
}

.main-shangpin-xinxi>ul>li {
    width: 16px;
    height: 16px;
    background-size: 100%;
    margin-right: 10px;
    margin-bottom: 3px;
}

.main-shangpin-icona {
    background: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/PC_detail_post.png) no-repeat;
}

.main-shangpin-iconb {
    background: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/PC_detail_send.png) no-repeat;
}

.main-shangpin-iconc {
    background: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/PC_detail_back.png) no-repeat;
}

.main-shangpin-icond {
    background: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/PC_detail_floor.png) no-repeat;
}

.main-shangpin-danjia {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
}

.main-shangpin-danjia>span:nth-child(1) {
    color: red;
    font-size: 16px;
    margin-bottom: 2px;
}

.main-shangpin-danjia>span:nth-child(2) {
    color: red;
    margin-bottom: 5px;
    margin-left: 5px;
}

.main-shangpin-danjia>span:nth-child(3) {
    text-decoration: line-through;
    margin-bottom: 2px;
}

.main-shangpin-danjia>span:nth-child(4) {
    margin-left: 5px;
}

.main-shangpin-shuliang {
    display: flex;
    justify-content: left;
}

.main-shangpin-shuliang>input {
    width: 58px;
    height: 28px;
    margin-right: 2px;
    border: 1px solid #999;
    line-height: 28px\9;
    text-align: center;
    font-size: 12px;
    color: #3c3c3c;
    outline: 0;
    vertical-align: top;
}

.main-shangpin-btn {
    width: 20px;
    height: 30px;
    vertical-align: top;
}

.main-shangpin-jia,
.main-shangpin-jian {
    display: inline-block;
    width: 20px;
    height: 14px;
    background-image: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/detail_icon4.png);
    background-repeat: no-repeat;
    vertical-align: top;
    cursor: pointer;
}

.main-shangpin-jia {
    background-position: -160px -22px;
    margin-bottom: 2px;
}

.main-shangpin-jian {
    background-position: -180px -66px;
    cursor: default;
}

.main-shangpin-shifu {
    font-size: 18px;
    color: #ee394b;
}

.main-shangpin-caozuo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
}

.main-shangpin-caozuo a:nth-child(1) {
    margin-bottom: 10px;
}

.main-bottom {
    width: 100%;
    line-height: 38px;
    border: 1px solid #e7e7e7;
    background: #f7f7f7;
    color: #777;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-bottom-left {
    display: flex;
    align-items: center;
    color: #3c3c3c;
}

.main-bottom-left>input {
    margin-left: 10px;
    margin-right: 10px;
}

.main-bottom-left a:nth-child(3) {
    margin-left: 60px;
}

.main-bottom-left a:nth-child(4),
.main-bottom-left a:nth-child(5) {
    margin-left: 30px;
}

.main-bottom-right {
    display: flex;
    justify-content: right;
    align-items: center;
    line-height: 58px;
    font-size: 13px;
    color: #777;
}

.main-bottom-right div:nth-child(1) {
    margin-right: 50px;
}

.main-bottom-right div:nth-child(2) {
    margin-right: 5px;
}

.main-bottom-right div:nth-child(3) {
    color: red;
    font-size: 20px;
    margin-right: 50px;
}

.main-bottom-right a:nth-child(4) {
    width: 120px;
    height: 38px;
    background: #ee394b;
    border: 1px solid #ee394b;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    margin-right: 10px;
}


/*******************底部******************/

.footer {
    width: 100%;
    border-top: 1px solid #e5e5e5;
    background: #fafafa;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
}

.footer-center {
    width: 1200px;
    margin: 0 auto;
}

.footer-top {
    padding: 30px;
    border-bottom: 1px solid #e5e5e5;
}

.footer-top-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-top-li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-top-text>p {
    color: #777;
    margin: 10px;
}

.footer-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
}

.footer-main-wrap {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 20px 0;
}

.footer-main-wrap>span {
    color: #333;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 6px;
    display: block;
}

.footer-main-wrap .footer-main-title {
    color: #333;
    font-size: 18px;
    padding-bottom: 10px;
    line-height: 20px;
    display: block;
}

.footer-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-bottom-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.footer-bottom-img {
    width: 120px;
    height: 100%;
}

.footer-bottom-text {
    color: #666;
    font-size: 14px;
    line-height: 25px;
    margin-left: 10px;
}

.footer-bottom-title {
    color: #333;
    font-size: 24px;
    padding-bottom: 5px;
}

.bottom {
    width: 100%;
    background: #f5f5f5;
}

.bottom-img {
    height: 230px;
    background: url(../img/123.png) no-repeat;
    background-position: center top;
    background-size: contain;
}