/*************************top*************************/

.top {
    width: 100%;
    height: 32px;
    color: #777777;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center
}

.top-conter {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.top-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.top-left li {
    margin-right: 30px;
}

.top-left li a:hover {
    color: red;
}

.top-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.top-right-wrap {
    font-size: 12px;
    margin: 0 0 0 20px;
}

.top-right-link {
    color: #999;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.top-right-link span:nth-child(1) {
    width: 12px;
    height: 12px;
    margin-right: 3px;
    cursor: pointer;
}

.shuliang {
    color: red;
    font-size: 13px;
}

.shuxian {
    margin-left: 20px;
    height: 8px;
    border-left: 1px solid #e5e5e5;
}

.gouwuche-icon {
    background: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/topMenuCar_redicon.png) no-repeat;
    background-position: 0 0;
}

.dingdan-icon {
    background: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/topMenu_redicon.png) no-repeat;
    background-position: 0 0;
}

.shoucang-icon {
    background: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/topMenu_redicon.png) no-repeat;
    background-position: -110px 0;
}

.guanzhu-icon {
    background: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/topMenu_redicon.png) no-repeat;
    background-position: -40px 0;
}

.zhongxin-icon {
    background: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/topMenu_redicon.png) no-repeat;
    background-position: -60px 0;
}

.top-right-link:hover {
    color: red;
}

.top-right-link:hover .gouwuche-icon {
    background-position: 0 -20px;
}

.top-right-link:hover .dingdan-icon {
    background-position: 0 -20px;
}

.top-right-link:hover .shoucang-icon {
    background-position: -110px -20px;
}

.top-right-link:hover .guanzhu-icon {
    background-position: -40px -20px;
}

.top-right-link:hover .zhongxin-icon {
    background-position: -60px -20px;
}

.search {
    width: 1200px;
    margin: 30px auto;
}

.search-img {
    margin-right: 154px;
    float: left;
}

.search-center {
    padding-top: 10px;
    width: 510px;
    display: flex;
    flex-direction: column;
}

.search-kuang {
    border: 1px solid #ee394b;
    height: 34px;
}

.search-text {
    width: 396px;
    border: 0;
    background: #fff;
    font-size: 12px;
    color: #999;
    line-height: 14px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.search-btn {
    width: 100px;
    color: #fff;
    border: 0;
    background: #eb3b4a;
    font-size: 20px;
    height: 34px;
    float: right;
    cursor: pointer;
}

.search-hots {
    height: 14px;
    line-height: 14px;
    overflow: hidden;
    padding-top: 10px;
    color: #c7c7c7;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-hots>a {
    color: #777;
}

.search-hots .search-link {
    color: red;
}

.search-hots>a:hover {
    color: red;
}

.search-shuxian {
    height: 8px;
    border-left: 1px solid #e5e5e5;
}

.nav {
    height: 40px;
    background: #ee394b;
}

.nav-center {
    width: 1200px;
    margin: 0 auto;
}

.nav-ul {
    display: flex;
    justify-content: left;
}

.nav-ul>li {
    border-bottom: 3px solid transparent;
}

.nav-link {
    height: 37px;
    line-height: 37px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    margin: 0 25px;
}

.nav-ul>li:hover {
    border-bottom: 3px solid #cc0e2b;
}


/*************************main*************************/

.main {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid #e7e7e7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
}

.main-title {
    height: 50px;
    line-height: 50px;
    font-size: 13px;
}

.main-center {
    display: flex;
    justify-content: left;
}

.main-left {
    float: left;
    position: relative;
    width: 420px;
    display: flex;
    flex-direction: column;
}

#spic {
    width: 418px;
    height: 418px;
    border: 1px solid #e7e7e7;
    float: left;
    position: relative;
}

#spic img {
    width: 418px;
    height: 418px;
}

#sf {
    width: 50px;
    height: 50px;
    background: lightblue;
    opacity: 0.3;
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
}

#bf {
    width: 420px;
    height: 420px;
    overflow: hidden;
    position: absolute;
    left: 435px;
    visibility: hidden;
    background-color: yellow;
    z-index: 100;
}

#bf img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 800px;
    height: 800px;
}

#main-ul {
    width: 420px;
    height: 60px;
    margin-top: 13px;
    display: flex;
    justify-content: space-evenly;
}

.main-li {
    width: 56px;
    height: 56px;
    padding: 1px;
    border: 1px solid #e7e7e7;
    cursor: pointer;
}

.main-li:hover {
    padding: 0;
    border: 2px solid #ee394b;
}

.main-right {
    width: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.main-right-h3 {
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.main-right-text {
    color: #ee394b;
    font-size: 14px;
    padding: 5px 0 20px 0;
}

.main-jiage {
    background: #e9e9e9 url(http://www.iqiyipic.com/common/fix/qy_shop/detail-priceBg.png) no-repeat;
    background-size: cover;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
}

.main-jiage-top,
.main-jiage-bottom {
    display: flex;
    justify-content: left;
    align-items: center;
    line-height: 32px;
}

.main-jiage-text {
    color: #999;
    width: 60px;
    padding: 0 10px 0 20px;
}

.main-jiage-num {
    color: red;
    font-weight: normal;
}

.main-jiage-cuxiao {
    background: #ee394b;
    color: #fff;
    height: 19px;
    line-height: 18px;
    padding: 0 5px 0 8px;
    margin-left: 15px;
    position: relative;
}

.main-jiage-icon {
    position: absolute;
    left: -4px;
    bottom: 0;
    width: 0;
    height: 0;
    border: 3px solid #ee394b;
    border-color: transparent #ee394b #ee394b transparent;
}

.main-jiage-yuanjia {
    text-decoration: line-through;
    vertical-align: middle;
    color: #777;
    cursor: default;
    padding-left: 2px;
}

.main-status {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 15px 0 10px 0;
    border-bottom: 1px dotted #c8c8c8;
    margin-right: 5px;
}

.main-xiaoliang,
.main-pingjia {
    text-align: center;
    color: #3c3c3c;
    font-size: 12px;
}

.main-xiaoliang {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #ccc;
}

.main-icon-a,
.main-icon-b {
    width: 16px;
    height: 12px;
    background: url(http://www.iqiyipic.com/common/fix/iqiyi_shop_images/detail-icon.png) no-repeat;
}

.main-icon-b {
    background-position: -22px 0;
}

.main-yunfei,
.main-fenlei,
.main-shuliang,
.main-btn {
    display: flex;
    justify-content: left;
    padding-left: 20px;
    margin-top: 20px;
}

.main-yunfei-text {
    color: #777;
}

.main-yunfei-dizhi {
    color: black;
}

.main-yunfei-icon {
    width: 9px;
    height: 6px;
    display: inline-block;
    background-image: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/detail_icon4.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    background-position: -100px 0;
}

.main-fenlei-a,
.main-fenlei-b {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border: 1px solid #999;
    padding: 1px;
}

.main-fenlei-a {
    background: url(https://mall2.iqiyipic.com/mall/20181206/c7/17/mall_5c0941f874d5795611c2c717_30_30.jpg) center;
}

.main-fenlei-b {
    width: 32px;
    background: url(https://mall7.iqiyipic.com/mall/20181206/42/2f/mall_5c0941f8ad8c1227bd5d422f_30_30.jpg) center;
}

.main-fenlei-a:hover,
.main-fenlei-b:hover {
    border: 2px solid red;
    padding: 0;
}

.main-shuliang-kuang {
    width: 58px;
    height: 28px;
    margin-right: 2px;
    border: 1px solid #999;
    line-height: 28px\9;
    text-align: center;
    font-size: 12px;
    color: #3c3c3c;
    outline: 0;
    vertical-align: top;
}

.main-shuliang-btn {
    width: 20px;
    height: 30px;
    vertical-align: top;
}

.main-shuliang-jia,
.main-shuliang-jian {
    display: inline-block;
    width: 20px;
    height: 14px;
    background-image: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/detail_icon4.png);
    background-repeat: no-repeat;
    vertical-align: top;
    cursor: pointer;
}

.main-shuliang-jia {
    background-position: -160px -22px;
    margin-bottom: 2px;
}

.main-shuliang-jian {
    background-position: -180px -66px;
    cursor: default;
}

.main-shuliang-kucun {
    height: 30px;
    line-height: 30px;
    display: inline-block;
    padding-left: 10px;
    color: #3c3c3c;
}

.main-btn-goumai,
.main-btn-gouwuche {
    width: 148px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    vertical-align: middle;
    border-radius: 2px;
    cursor: pointer;
}

.main-btn-goumai {
    background-color: #ee394b;
    border: 1px solid #ee394b;
}

.main-btn-gouwuche {
    margin-left: 10px;
    background-color: #fd7b7b;
    border: 1px solid #fd7b7b;
}

.main-fuwu {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    margin-top: 20px;
    margin-right: 5px;
}

.main-fuwu-ul {
    display: flex;
    justify-content: left;
    align-items: center;
}

.main-fuwu-li {
    font-size: 12px;
    color: #777;
    margin-right: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.main-fuwu-icon {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: url(https://mall3.iqiyipic.com/mall/20170217/0c/c9/mall_58a66acff6882e5fa5910cc9_1x1.png) no-repeat;
    background-size: contain;
    margin-right: 5px;
}

.main-fuwu-link {
    padding-right: 5px;
    font-size: 12px;
    color: #777;
    line-height: 22px;
}

.main-fuwu-link:hover {
    color: red;
}

.left-nav {
    top: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width: 42px;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.left-nav-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.left-nav-link {
    width: 21px;
    height: 23px;
    background: url(http://www.iqiyipic.com/common/fix/iqiyi_shop_images/toolbar_linkIcon.png) no-repeat;
    margin: 10px 0;
}

.left-nav-gouwuche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    border-top: 1px dotted #5e5e5e;
    border-bottom: 1px dotted #5e5e5e;
}

.left-nav-icon {
    width: 20px;
    height: 20px;
    background-position: 0 -20px;
    background-image: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/detail_icon4.png);
    background-repeat: no-repeat;
    vertical-align: middle;
}

.left-nav-text {
    color: white;
    font-size: 16px;
    width: 16px;
    margin: 10px 0;
}

.left-nav-yuan {
    width: 20px;
    height: 20px;
    background-color: #ee394b;
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    border-radius: 10px;
}

.left-nav-gouwuche:hover {
    background-color: #ee394b;
}

.left-nav-gouwuche:hover .left-nav-yuan {
    background: #fff;
    color: #ee394b;
}

.left-nav-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 230px;
    margin-bottom: 30px;
}

.left-nav-wrap {
    width: 100%;
    text-align: center;
}

.left-nav-erweima {
    width: 16px;
    height: 17px;
    display: inline-block;
    background: url(http://www.iqiyipic.com/common/fix/iqiyi_shop_images/toolbar_codeIcon.png) no-repeat;
    vertical-align: middle;
    margin: 10px;
    padding-left: -5px;
}

.left-nav-fankui {
    background: url(http://www.iqiyipic.com/common/fix/iqiyi_shop_images/feedback_icon.png) no-repeat 3px 0;
    width: 23px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.left-nav-dingbu {
    background: url(http://www.iqiyipic.com/common/fix/iqiyi_shop_images/goTop_icon.png) no-repeat;
    width: 25px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.left-nav-wrap:hover {
    width: 100%;
    background-color: #ee394b;
}


/*****************************页脚******************************/

.footer {
    width: 100%;
    border-top: 1px solid #e5e5e5;
    background: #fafafa;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
}

.footer-center {
    width: 1200px;
    margin: 0 auto;
}

.footer-top {
    padding: 30px;
    border-bottom: 1px solid #e5e5e5;
}

.footer-top-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-top-li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-top-text>p {
    color: #777;
    margin: 10px;
}

.footer-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
}

.footer-main-wrap {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 20px 0;
}

.footer-main-wrap>span {
    color: #333;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 6px;
    display: block;
}

.footer-main-wrap .footer-main-title {
    color: #333;
    font-size: 18px;
    padding-bottom: 10px;
    line-height: 20px;
    display: block;
}

.footer-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-bottom-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.footer-bottom-img {
    width: 120px;
    height: 100%;
}

.footer-bottom-text {
    color: #666;
    font-size: 14px;
    line-height: 25px;
    margin-left: 10px;
}

.footer-bottom-title {
    color: #333;
    font-size: 24px;
    padding-bottom: 5px;
}

.bottom {
    width: 100%;
    background: #f5f5f5;
}

.bottom-img {
    height: 230px;
    background: url(../img/123.png) no-repeat;
    background-position: center top;
    background-size: contain;
}