body {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(https://passport.baidu.com/static/passpc-account/img/reg_bg_min.jpg) no-repeat;
    background-size: cover;
}

.main-left {
    position: fixed;
    left: 195px;
    top: 314px;
    color: #fff;
}

.main-left h3 {
    font-size: 54px;
    letter-spacing: 0;
    font-weight: 700;
}

.main-left p {
    font-size: 32px;
    letter-spacing: 3.81px;
    font-weight: 300;
}

.main-right {
    position: absolute;
    right: 139px;
    top: 10%;
    width: 420px;
    background: rgba(255, 255, 255, .9);
    border-radius: 12px;
    overflow: hidden;
    text-align: left;
    padding: 50px;
}

.main-right-top h3 {
    font-size: 36px;
    color: #000;
    padding-bottom: 4px;
    font-weight: bold;
}

.main-right-top {
    margin-bottom: 15px;
}

.main-right-top p {
    font-size: 14px;
    color: #9B9B9B;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-right-top #login_btn {
    color: #2e58ff;
    cursor: pointer;
    text-decoration: none;
}

.main-right .formLeft {
    font-size: 14px;
    color: #333;
    letter-spacing: 0;
    text-align: right;
    width: 82px;
    height: 40px;
    line-height: 40px;
    margin-right: 15px;
    font-weight: 200;
}

.main-right .text {
    padding: 11px 10px;
    max-height: 40px;
    background: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    font-size: 14px;
    width: 321px;
    color: #000;
    background-color: #fff;
}

.main-right .btn {
    width: 418px;
    display: block;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    border: 0;
    border-radius: 25px;
    background: #BDCEFC;
}

.main-right .btn:hover {
    background-color: #3f89ec;
}